.home-banner-section {
  background: $success-color;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: $white;
  padding-block: 32px;

  > .subtitle {
    font-size: $fz-sm;
    font-weight: $fw-bold;
    line-height: $leading-sm;
    margin-bottom: 24px;
  }

  > .title {
    font-size: 40px;
    font-weight: 800;
    line-height: 40px;
    letter-spacing: 1.4px;
    padding-bottom: 16px;
    @include breakpoint-down(smalldesktop) {
      font-size: $fz-lg;
      line-height: $leading-lg;
    }
  }

  > .description {
    font-size: $fz-base;
    line-height: $leading-md;
    width: 100%;
    max-width: 530px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 24px;
    @include breakpoint-down(smalldesktop) {
      font-size: $fz-sm;
    }
  }

  > .links {
    @include flex-center;
    gap: 32px;
    padding-bottom: 16px;
    @include breakpoint-down(smalldesktop) {
      @include flex-center-column;
    }
  }

  > .links > * {
    position: relative;
    color: $white;
    &::before {
      @include transition;
      position: absolute;
      content: "";
      width: 100%;
      height: 2px;
      bottom: -8px;
      border-radius: 4px;
      background: $white;
    }
    &:hover::before {
      bottom: -6px;
    }
  }
  > .footer {
    padding-top: 12px;
    fill: #fff;
  }
}

.section-content {
  margin-block: 24px;

  > .title {
    font-size: $fz-base;
    margin-block: 24px;
  }
  > .links {
    @include flex-center;
    gap: 24px;
    @include breakpoint-down(smalldesktop) {
      @include flex-column;
    }
  }
}

.bg-light-orang {
  background: #c6a85d;
}
