table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}

th,
td {
	padding: 12px;
	text-align: left;
	border-bottom: 1px solid #ddd;
	.btn {
		cursor: pointer;
		padding: 10px 20px;
		background-color: $error-color !important;
		transition: background-color 0.3s ease;
		&:hover {
			background: rgba($error-color, 0.8);
		}
	}
}

th {
	background-color: #c41320;
	color: #fff;
}

tr:nth-child(even) {
	background-color: #fff;
	color: #333;
}

@media screen and (max-width: 600px) {
	table {
		border: 0;
	}

	th,
	td {
		display: block;
		width: 100%;
		border-bottom: none;
	}

	thead {
		display: none;
	}

	tr {
		margin-bottom: 10px;
	}

	td:before {
		content: attr(data-label);
		display: block;
		font-weight: bold;
	}
}

// item order
.order-item {
	@include flex-center;
	gap: 20px;
	> .image {
		cursor: pointer;
	}
	> .desc {
		font-size: $fz-base;
		line-height: $leading-sm;
		color: $black;
		width: 100%;
		display: block;
		@include breakpoint-down(phone) {
			font-size: $fz-sm;
		}
		> a {
			color: $black;
			margin-bottom: 6px;
		}
		> p {
			margin-block: 10px;
		}
	}
}
