// Typography
._text-center {
	text-align: center;
}

._text-uppercase {
	text-transform: uppercase;
}

._text-lowercase {
	text-transform: lowercase;
}

._text-capitalize {
	text-transform: capitalize;
}

._text-transform-unset {
	text-transform: unset;
}

._color-success-light {
	color: $success-light-color;
}

// font size
._fz {
	@each $size, $value in $font-size {
		&-#{$size} {
			font-size: $value;
		}
	}
}

// overlay
._overlay {
	position: fixed;
	inset: 0;
	background: rgba($color: $black, $alpha: 0.4);
	z-index: 20;
}

// border

._border-bottom {
	border-bottom: 1px solid $brown-light-color;
}
._border-top {
	border-top: 1px solid $brown-light-color;
}
