@font-face {
  font-family: $heading-font;
  font-weight: $fw-normal;
  src: url("/fonts/Helvetica-Now-Text-Regular.woff2") format("woff2");
}

@font-face {
  font-family: $heading-font;
  font-weight: $fw-bold;
  src: url("/fonts/Helvetica-Now-Text-Bold.woff2") format("woff2");
}

@font-face {
  font-family: $heading-font;
  font-weight: $fw-bold;
  src: url("/fonts/InterstateWGL-Black.woff2") format("woff2");
}

@font-face {
  font-family: $heading-font;
  font-weight: $fw-normal;
  src: url("/fonts/Interstate-Bold.woff") format("woff");
}
