// * theming
// palette
$primary-color: #000;
$secondary-color: #070b21;
$error-color: #c41320;
$info-color: #134a7d;
$light-color: #f7f2e5;

$success-color: #006766;
$success-light-color: #b2b2b2;

$brown-color: #6e6e6e;
$brown-light-color: #e9e9e9;

$white: #fff;
$black: #000;
$dark: #333333;

// font-size
$fz-xs: 12px;
$fz-sm: 14px;
$fz-base: 16px;
$fz-lg: 24px;
$fz-xl: 28px;
$fz-2xl: 32px;

// font family
$heading-font: InterstateWGL;
$normal-font: Helvetica;

// font-weight
$fw-normal: 400;
$fw-bold: 700;

// line height
$leading-sm: 20px;
$leading-md: 24px;
$leading-lg: 32px;

$leading-button: $leading-md;
// letter spacing
// gutter

// * map
$font-size: (
	xs: $fz-xs,
	sm: $fz-sm,
	base: $fz-base,
	xl: $fz-xl,
	2xl: $fz-2xl,
);
