.site-header-mobile {
	display: block;
	position: sticky;
	top: 0;
	background-color: $white;
	padding-block: 10px;
	z-index: 50;
	transition: transform 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
	@include breakpoint-up(smalldesktop) {
		display: none;
	}
}

.header-mobile-inner {
	@include flex-center-ver;
	justify-content: space-between;
	height: 40px;
	padding-block: 24px;
	border-bottom: 1px solid $brown-light-color;
	margin-bottom: 8px;

	> .menu-icon {
		@include flex-center-ver;
		width: 100px;
	}
	> .actions {
		@include flex-center-ver;
		justify-content: space-between;
		width: 100px;
	}
}
.wrapper-mobile {
	background-color: $white;
	width: 90%;
	height: 100%;
	> .top {
		@include flex-center-ver;
		justify-content: space-between;
		height: 60px;
		padding-inline: 20px;
	}
}
.main-menu-mobile {
	padding-inline: 20px;

	> .item {
		margin-block: 16px;
		> .link {
			font-family: $heading-font;
			font-size: $fz-lg;
			font-weight: 800;
			line-height: $leading-lg;
			color: $black;
		}
	}
}

.action_list {
	@include flex-column;
	gap: 24px;
	padding: 30px 40px;
	text-align: left;
	> * {
		cursor: pointer;
		font-size: $fz-base;
		color: $brown-color;
		line-height: $leading-md;
		font-weight: 500;
	}
}

.show-nav {
	@include visible;
}
.hidden-nav {
	@include hidden;
}

.disable-scroll {
	overflow: hidden;
	position: fixed;
	width: 100%;
	height: 100%;
}
